@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.name {
  color: #132a13;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: #d8f3dc;
  color: #132a13;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.section {
  border-radius: 10px;
  color: #283618;
  padding: 25px;
  width: 700px;
  margin: auto;
  margin-bottom: 5px;
}

.section_element {
  margin-bottom: 20px;
}


.about_me {
  background-color: #daf0ee;
  color: #132a13;
}

.about_me ul {
  margin-left: 20px;
}

.articles {
  background-color: #eae2b7;
}

.contacts {
  background-color: #283618;
  color: #edf2f4;
}

.contacts input, .contacts textarea{
  background-color: #f0efeb;
  border: 2px #283618 solid;
  flex: 3;
  outline: none;
  padding: 3px;
}

.flex-container {
  display: flex;
  margin: 5px;
  /* padding: 5px; */
}

.diraction-column {
  flex-direction: column;
}


.form label{
  flex: 1;
  align-self: center;
}



.button {
  flex: 3;
}